@import './common/variable';

/*
 * 上传文件
 *
 */

.ec-transfer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  .el-transfer-panel {
    width: 100%;
    height: 500px;
  }
  .el-transfer-panel__list.is-filterable {
    //padding-bottom: 36px;
    height: 400px;
  }
  .el-transfer-panel__item {
    height: auto;
    line-height: 20px;
    padding-bottom: 10px;
  }
  .el-transfer-panel__item.el-checkbox {
    color: #48576a;
  }
}

